<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest Clone</title>
    <meta name="description" content="Pinterest Clone">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
    * { box-sizing: border-box; }

    /* clear fix */
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }

    /* ---- .grid-item ---- */

    .grid-sizer,
    .grid-item {
      width: 33.333%;
    }

    .grid-item {
      float: left;
    }

    .grid-item img {
      display: block;
      max-width: 100%;
    }
      
    
    </style>
  </head>
  <body>
   
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" style="box-shadow: none;">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><%=name%>'s Profile</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <%if(auth){%>
        <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i>&nbsp;Home</a>
        <a class="mdl-navigation__link" href="/user/<%=user%>"><i class="material-icons">account_circle</i>&nbsp;Profile</a>
        <a class="mdl-navigation__link" href="/add"><i class="material-icons">collections</i>&nbsp;Add Image</a>
        <a class="mdl-navigation__link" href="/logout/twitter"><i class="material-icons">highlight_off</i>&nbsp;Logout</a>
      <%}else{%>
        <a class="mdl-navigation__link" href="/login/twitter"><i class="material-icons">face</i>&nbsp;Login</a>
        <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i>&nbsp;Home</a>
      <%}%>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="grid">
      <div class="grid-sizer"></div>
      <%for(var i=0;i<db.length;i++){%>
        <div class="grid-item">
          <%if(auth && cid == user){%>
          <img onclick="showD('<%=db[i]._id%>')" src="<%=db[i].img%>" style="cursor: pointer;">
          <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
              <div class="mdl-snackbar__text"></div>
              <button class="mdl-snackbar__action" type="button"></button>
          </div>
          <%}else{%>
          <img src="<%=db[i].img%>">
          <%}%>
        </div>
      <%}%>
        
        <dialog class="mdl-dialog">
          <h4 class="mdl-dialog__title">Delete</h4>
          <div class="mdl-dialog__content">
            <p>
              Are you sure you want to delete this image?
            </p>
          </div>
          <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button del">Yes</button>
            <button type="button" class="mdl-button close">No</button>
          </div>
        </dialog>
        
      </div>        
    </div>
  </main>
</div>
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
    <script>
    
        // init Masonry
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry();
    });
      
      
      
      r(function(){
        var notification = document.querySelector('#demo-toast-example');
        if(notification != null){
        notification.MaterialSnackbar.showSnackbar(
          {
            message: 'Click on an image to delete it.'
          }
        );
        }
      });

    function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
    
    function showD(imgID){
    var dialog = document.querySelector('dialog');
    dialog.showModal();
    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });
    dialog.querySelector('.del').addEventListener('click', function() {
      window.location = "/delete/"+imgID;
    });
    }
      
  
    </script>

  </body>
</html>